:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Passion One', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
